
#full-conclusion-section {
    background: url("../../static/img/double-bubble-outline.png");
    padding-top: 7rem;
    margin-top: -4.2rem;
}

#conclusion-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#portrait {
    width: 14rem;
}

#conclusion-right-picture {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    #connection-row {
        justify-content: center;
    }
  }

  @media only screen and (min-width: 751px) {
    /* For mobile phones: */
    #connection-row {
        justify-content: space-between;
    }
  }

#connection-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#connect-title {
    display: inline-block;
    text-align: center;
}

#social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
}