
#full-conclusion-section {
    background: url("../../static/img/double-bubble-outline.png");
    padding-top: 7rem;
    margin-top: -4.2rem;
}


.conclusion-container {  
    display: grid;
    grid-template-rows: .8fr .8fr 1.6fr .8fr .8fr;
    grid-template-columns: 2fr 1.3fr .8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .text-bg { 
    grid-area: 3 / 1 / 4 / 3;
    background-color: white;
    border-bottom: 3px solid #00B0AA;
 }

 .text {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 4rem;
    /* color: white; */
}

.picture {
    grid-area: 2 / 2 / 5 / 3;
}
  
.icons {
    flex-direction: column;
    grid-area: 2 / 3 / 5 / 4;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    display: flex;
}

.icons a {
    color:black;
}

  

#conclusion-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#portrait {
    width: 70%;
    height: 79%;
    object-fit: cover;
}

#conclusion-right-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

