
#intro-banner {
    display: flex;
    flex-direction: row;
    /* background-color: #00B0AA; */
    justify-content: space-between;
    align-items: center;

}

#intro-left {
    width: 60%;
}

#avatar {
    width: 250px;
}

#detailed-intro {
    width: 60%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}