
.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: fadein 2s;
}

#life-projects-section {
    background: linear-gradient(to top, transparent, rgb(236, 236, 236)), url("../../static/img/double-bubble-outline.png");
}

#tech-projects-section {
    background: linear-gradient(to bottom, transparent, rgb(236, 236, 236)), linear-gradient(to top, transparent, rgb(236, 236, 236)), url("../../static/img/pipes.png");
}

